* {
    font-family: 'Roboto', sans-serif;;
}

/* header */

.container-header, body {
    margin: 0;
    padding: 0;
}

nav, section, .container-header {
    background-color: white;
    padding: 10px;
}

.logo, .title-name {
    vertical-align: middle;
    display: inline-block;
}

/* main */

body {
    background-color: #F6F8F9;
}

.container-main {
    width: 50%;
    margin: auto;
    margin-top: 100px;

}

section {
    margin-top: 5px;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
}

.button-task {
    border: none;
    background-color: #47ADF1;
    color: white;
}

.button-section {
    color: #C8CED3;
    box-sizing: border-box;
    border: 1px solid #C8CED3; 
    background-color: white;
}

h2::before {
    content: "\25BC";
}

.bollino {
    display: inline-block;
    padding: 5px 8px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 10px;
}

h2 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}
ul {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    list-style-type: none;
    padding-bottom: 40px;
    padding-left: 0px;
}

li::before {
    content: "\2713";
    width: 15px;
    height: 15px;
    border: 1px solid green;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
}

.nope::before {
    content: "\26CC";
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
}

.mini-container {
    padding-left: 30px;
}

li {
    padding-bottom: 5px;
}

.blu {
    background-color: #45ABEA;
}

.viola {
    background-color: #9C72E4;
}

.verde-mare {
    background-color: #65C1AA;
}

.giallo {
    background-color: #F29E33;
}

.rosa {
    background-color: #D863A1;
}

.verde {
    background-color: #B0C926;
}